@import "components/font-faces";
@import "font-settings";

html,
body,
body.block-editor-page{
	border: none;
	margin: 0;
	padding: 0;
	background: url("../img/kidsBg.svg");
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
big,
cite,
code,
em,
font,
img,
small,
strike,
sub,
sup,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tr,
th,
td {
	border: none;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
	text-align: inherit;
}

html {
	font-size: 62.5%; /* 1rem = 10px */
}

*,
*::before,
*::after {
	box-sizing: inherit;
	-webkit-font-smoothing: antialiased;
	word-break: break-word;
	word-wrap: break-word;
}


.wp-block-* {
	max-width: 580px;
	padding-left: 58px;
	padding-right: 58px;
	margin-left: auto;
	margin-right: auto;
}

.alignwide {
	max-width: 1100px
}

.alignfull {
	max-width: none
}