body:not(.singular) main > article:first-of-type {
	padding-top:0;
}
.entry-content{
	audio,
	#dipo_files_js,
	#dipo_files_nojs{
		display: none;
	}
}

.entry-header-inner{
	.entry-title{display: none}
}

.tooltip{
	position: relative;

	& > .content {
		display: none;

		&:before,
		&:after {
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
		}

		&:before {
			border-width: 0 10px 12px 10px;
			border-color: transparent transparent #005ea8 transparent;
			position: absolute;
			top: -12px;
			right: 2px;
		}

		&:after {
			border-width: 0 9px 11px 9px;
			border-color: transparent transparent #f4f4f4 transparent;
			top: -10px;
			right: 3px;
		}
	}

	&:hover > .content {
		position: absolute;
		display: inline-block;
		width: 100%;
		left: 2px;
		z-index: 21;
		margin-top: 10px;
	}
}

@media (min-width: 700px) {

	.entry-header-inner{
		.entry-title{display: initial}
	}
}