@import "font-settings";
@import 'mixins/border';

html,
body{
	border: none;
	margin: 0;
	padding: 0;
	background: url("../img/kidsBg.svg");
	background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
big,
cite,
code,
em,
font,
img,
small,
strike,
sub,
sup,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tr,
th,
td {
	border: none;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
	text-align: inherit;
}

html {
	font-size: 62.5%; /* 1rem = 10px */
}

*,
*::before,
*::after {
	box-sizing: inherit;
	-webkit-font-smoothing: antialiased;
	word-break: break-word;
	word-wrap: break-word;
}

.entry-content {
	@include border-style();
	border: 2px solid #41403e;
	background: #fff;
	font-size: $font-size-normal;
	font-family: $font-family-base;
}

.entry-content > {
	h1, h2, h3, h4, h5, h6{
		font-size: $font-size-large;
	}

	[class^="wp-block"],
	[class*="title"],
	[class$="shortcode"],
	p, ul,
	h1, h2, h3, h4, h5, h6{
		max-width: 580px;
		padding-left: 58px;
		padding-right: 58px;
		margin-left: auto;
		margin-right: auto;
	}

	.alignfull {
		max-width: none;
		margin-left: -58px;
		margin-right: -58px;
	}

	.wp-block-image .alignfull{
		padding:0;
	}
}

.site-content{
	padding-left: 58px;
	padding-right: 58px;
}