$font-family-headlines: 'Patrick Hand SC' !default;
$font-family-base: 'Patrick Hand SC' !default;

$font-size-small: 13px !default;
$font-size-normal: 16px !default;
$font-size-medium: 20px !default;
$font-size-large: 36px !default;
$font-size-huge: 42px !default;