@import "../font-settings";

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-headlines;
	font-variant-numeric: lining-nums;
	font-weight: 700;
	letter-spacing: -0.0415625em;
	line-height: 1.25;
	margin: 3.5rem 0 2rem;
}

h1 {
	font-size: $font-size-huge;
	font-weight: 800;
	line-height: 1.138888889;
}

h2 {
	font-size: $font-size-large;
}

h3 {
	font-size: $font-size-medium;
}

h4 {
	font-size: $font-size-normal;
}

h5 {
	font-size: $font-size-normal;
}

h6{
	font-size: $font-size-small;
	letter-spacing: 0.03125em;
	text-transform: uppercase;
}
